.two-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    color:white;
    text-transform: capitalize;
}

.title-banner {
    display: flex;
    flex-wrap: wrap;
}